
h1  {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}
h2  {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    margin-bottom: 5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #828282;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'card1 card2 card3' 
        'card4 card5 card6';
    grid-gap: 20px;
    
}

.card {
    width: 300px;
    height: 400px;
    /* margin: 1%; */
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card img{
    width: 80%;
    height: 80%;
    display: block;
}
.card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}
